{% extends'base.html.twig' %}
    {% block title %}Contact{% endblock %}
{% block body %}
    <div class="container-fluid" id="contact">
        <div class="row">

            <div class="col-lg-2">
                {% include('nav-left.html.twig') %}
            </div>

            <div class="col-lg-10 contact-show">

                {#Contact details#}
                <div class="details-contact">
                    <img src="{{ asset('uploads/' ~ contact.image) }}" alt="avatar">
                    <ul>
                        <li><b>{{ contact.fName }} {{ contact.lName }}</b></li>
                        <li><b>{{ contact.phone }}</b></li>
                        <br>
                        <li>{{ contact.email }}</li>
                        <li>{{ contact.address }}</li>
                        <li>{{ contact.category }}</li>
                    </ul>
                </div>

                {#Button back to contacts#}
                <div class="back-contact">
                    <a class="btn-secondary btn" role="button"  href="{{ path('contact_index') }}">Retour aux contacts</a>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

