<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>

    {#Nav-bar header#}
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container">

                {#Logo#}
                <a class="navbar-brand" href="{{ path('home_index') }}">
                    <img src="{{ asset('uploads/logo.png') }}" alt="logo" >
                </a>

                {#Nav-bar registration#}
                <div>
                    {% if not app.user %}

                            <a class="btn btn-secondary" role="button" href="{{ path('security_login') }}">
                                Connexion
                            </a>
                            <a class="btn btn-secondary" href="{{ path('registration_register') }}">
                                Inscription
                            </a>

                    {% else %}
                        <a class="btn btn-secondary" href="{{ path('dashboard_index') }}">
                            Dashboard
                        </a>

                        <a class="btn btn-secondary" href="{{ path('security_logout') }}">
                                Deconnexion
                            </a>

                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>

{% block body %}{% endblock %}
<footer>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <ul>
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="">Politique de confidentialité</a></li>
                </ul>
                <div>
                    Application réalisé par <a class="author" href="https://olimpiasacareanu.com/">Olimpia Sacareanu</a>
                </div>
            </div>
        </nav>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/nameuploadfile.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
