{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                {% include('nav-left.html.twig') %}
            </div>
            <div class="col-lg-10 dashboard">
                <h4>Les derniers contacts ajoutés</h4>
                {% for contact in contacts %}
                <ul>
                    <li><a href="{{ path('contact_show', {'id': contact.id}) }}">{{ contact.fName }} {{ contact.lName  }}</a></li>
                </ul>
                {% endfor %}
                <h4>Evenements à venir</h4>
                {% for event in events %}
                    <ul>
                        <li><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.title }}</a></li>
                        <li>{{ event.start ? event.start|date('H:i d-m-y ') : ''  }} - {{ event.end ? event.end|date('H:i d-m-y ') : '' }}</li>
                        <li>{{ event.description }}</li>

                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
